@import './reset';

.body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.maincontainer {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &_section1 {
    margin: 20px;

    &-title {
      display: none;
    }

    &-logo {
      width: 400px;
    }
  }

  &_form {
    margin: 10px;

    &-input {
      font-size: 18px;
      padding: 3px;
    }
  }

  &_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

.charactercard {
  background-color: #46b0c8;
  border-radius: 10px;
  border: 1px solid black;
  width: 220px;
  margin: 5px;

  &_img {
    width: 200px;
  }

  &_name {
    border-bottom: 1px solid black;
    padding: 5px 0px;
    color: black;
  }

  &_class {
    padding: 5px 0px;
    color: yellow;
  }
}

.characterdetaillink {
  color: white;
  font-size: 14px;
}

.characterdetail_title {
  color: #46b0c8;
  margin: 15px;
}

.characterdetail_section {
  background-color: #46b0c8;
  border-radius: 10px;
  border: 1px solid black;
  width: 440px;
  margin: 30px;

  &-img {
    width: 100%;
  }

  &-list {
    color: black;
    font-size: 18px;
  }

  &-listele {
    font-weight: bolder;
    margin-right: 10px;
  }
}
